$primary: #472461;
$secondary: #472461;

$black: #000000;
$white: #FFFFFF;

$body-color: $black;

$theme-colors: (
		"primary": $primary,
		"secondary": $secondary,
		"black": $black,
		"white": $white
);
