.gravity-form__wrapper {
	.gform-theme--framework {

		/**
		Gravity Forms Spacing
		 */
		--gf-form-gap-x: #{$gf-form-gap-x};
		--gf-form-gap-y: #{$gf-form-gap-y};

		/**
		Checkbox styling
		 */
		--gf-ctrl-choice-check-color: #{$secondary};

		/**
		Label styling
		 */
		--gf-ctrl-label-font-size-primary: #{$gf-ctrl-label-font-size-primary};
		--gf-ctrl-label-font-weight-primary: #{$gf-ctrl-label-font-weight-primary};

		/**
		Validation styles
		 */
		--gf-color-danger: #{$gf-color-danger};
		--gf-form-validation-shadow: #{$gf-form-validation-shadow};
		--gf-form-validation-bg-color: #{$gf-form-validation-bg-color};
		--gf-form-validation-border-width: #{$gf-form-validation-border-width};
		--gf-form-validation-padding-x: #{$gf-form-validation-padding-x};
		--gf-form-validation-padding-y: #{$gf-form-validation-padding-y};

		/**
		Button Style
		 */
		--gf-ctrl-btn-bg-color-primary: #{$gf-ctrl-btn-bg-color};
		--gf-ctrl-btn-bg-color-hover-primary: #{$gf-ctrl-btn-bg-color-hover};
		--gf-ctrl-btn-padding-x-md: #{$gf-ctrl-btn-padding-x-md};
		--gf-ctrl-btn-padding-y-md: #{$gf-ctrl-btn-padding-y-md};
		--gf-ctrl-btn-font-size-md: #{$gf-ctrl-btn-font-size-md};

		@include media-breakpoint-down(sm) {
			--gf-ctrl-btn-font-size-md: #{$gf-ctrl-btn-font-size-md-mobile};
		}

		/**
		Input Style
		 */
		--gf-ctrl-size-md: #{$gf-ctrl-size};
		--gf-padding-x: #{$gf-padding-x};
		--gf-textarea-paddying-y: #{$gf-ctrl-textarea-padding-y};
		--gf-font-size-primary: #{$gf-font-size-primary};

		--gf-local-radius: 0px;

		--gf-ctrl-border-width: #{$gf-border-width};


		@include media-breakpoint-down(sm) {
			--gf-ctrl-size-md: #{$gf-ctrl-size-mobile};
			--gf-font-size-primary: #{$gf-font-size-primary-mobile};
		}

		.gform_heading {
			display: none;
		}

		.gform-loader {
			display: none !important;
		}

		input[type]:where(:not(.gf-text-input-reset):not([type="hidden"])):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {

		}

		.gfield_error input[type]:where(:not(.gform-text-input-reset):not([type=hidden])):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)),
		.gfield_error textarea:where(:not(.gform-text-input-reset):not([type=hidden])):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {
			border: solid 2px #{$gf-color-danger};
		}

		select:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable *)) {
			--gf-ctrl-border-width: #{$gf-select-border-width};
			--gf-ctrl-border-color: #{$white};
			--gf-local-bg-color: #{$gf-select-bg-color};

			&:hover,
			&:focus-within,
			&:focus,
			&:focus-visible {
				--gf-local-bg-color: $gf-select-bg-color;
			}
		}

		select:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)):where(:not([multiple])) {
			background-image: $gf-select-field-arrow
		}

		a {
			font-family: inherit;
		}
	}
}

body img.gform_ajax_spinner {
	display: none !important;
}
