.dropdown-menu {
  display: block;
  opacity: 0;
  transform: translateY(20px) translateX(-50%);
  //@include transition(300ms all);
  pointer-events: none;
  position: absolute;
  left: 50%;
  padding: 0;
  border: none;
  margin-top: 20px;
  border-radius: 5px;

  &::before {
	position: absolute;
	content: '';
	left: 50%;
	transform: translateX(-50%);
	top: -22px;

	@include triangle(up, 11px, $white);
  }

  &.show {
	pointer-events: all;
	opacity: 1;
	transform: translateY(0) translateX(-50%);
  }

  > li {
	margin: 0;
	display: block;
	width: 100%;
	overflow: hidden;

	&:first-child {
	  border-top-left-radius: 5px;
	  border-top-right-radius: 5px;
	}

	&:last-child {
	  border-bottom-left-radius: 5px;
	  border-bottom-right-radius: 5px;
	}
  }

}
