/*
 * Fluid Font Size
 * default usage: @include fluid-type(55, 70);
 */

@mixin fluid-type($font-min, $font-max) {
  font-size: #{$font-min}px;
  line-height: calc(#{$font-min}px + 10px);

  @media only screen and (min-width: 375px) {
	font-size: calc(
			#{$font-min}px + #{($font-max - $font-min)} * (100vw - 375px) / (1560 - 375)
	);
	line-height: calc(
			#{$font-min}px + 10px + #{($font-max - $font-min)} * (100vw - 375px) / (1560 - 375)
	);
  }

  @media only screen and (min-width: 1540px) {
	font-size: #{$font-max}px;
	line-height: calc(#{$font-max}px + 10px);
  }
}
