/**
 * Fluid Image Sizes
 * default usage
 */

@mixin image-size($img-min, $img-max){
	width: #{$img-min}px;

	@media only screen and (min-width: 375px){
		width: calc(
				#{$img-min}px + #{($img-max - $img-min)} * (100vw - 375px) / (1560 - 375)
		);
	}

	@media only screen and (min-width: 1540px){
		width: #{$img-max}px;
	}
}

//** Extra Comment here.
