/*Logo carousel*/
#clients {
	overflow: hidden;
	width: 100%;
}

#clients ul {
	display: flex;
	list-style: none;
	align-items: center;
}

#clients ul li {
	flex: 0 0 auto;
	margin-right: 20px;
	max-width: 220px;
}

#clients ul li img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	-webkit-transition: 0 linear left;
	-moz-transition: 0 linear left;
	transition: 0 linear left;
}
